Strings can be created by using either " or ' for single line strings or with ´´´ for multiline strings.

In [12]:
first= "single line string"
second = '''this string
has two lines'''

In [15]:
first

'single line string'

In [16]:
second

'this string\nhas two lines'

In [18]:
print(second)

this string
has two lines

In [19]:
first.upper()

'SINGLE LINE STRING'

In [20]:
first.startswith('single')

True

In [21]:
first.startswith('abc')

False

In [22]:
'abc'.startswith('a')

True

In [23]:
'ABC'.lower()

'abc'

In [24]:
'ABC'.lower

***Arrays***

Accessing array values (from string)

In [25]:
first[0]

's'

In [26]:
first[6]

' '

In [27]:
first[5]

'e'

In [28]:
first[5:8]

'e l'

In [29]:
first[-4:]

'ring'

In [30]:
first[4:]

'le line string'

In [32]:
first[:4]

'sing'

***Data types***

**Nothing**

In [39]:
nothing = None

In [35]:
print(nothing)

None

**Integers**

In [36]:
minimum_wage = 505

In [37]:
minimum_wage

505

In [38]:
print(minimum_wage)

505

**Float**

In [40]:
pi_squared = 9.8696

In [41]:
pi_squared

9.8696

In [42]:
print(pi_squared)

9.8696

**String**

In [43]:
first_name="Eduardo"

In [44]:
first_name

'Eduardo'

In [45]:
print(first_name)

Eduardo

**List**

In [46]:
years = [18,19,20]

In [47]:
years

[18, 19, 20]

In [48]:
print(years)

[18, 19, 20]

**Tuples**

In [49]:
coordinates = {23.4, 12.6, 13.5}

In [50]:
coordinates

{12.6, 13.5, 23.4}

In [51]:
print(coordinates)

{12.6, 13.5, 23.4}

**Dictionary**

In [52]:
animal_classes = {
    'fox' : 'mammal',
    'snake' : 'reptile',
    'fly' : 'insect'
}

In [53]:
animal_classes

{'fox': 'mammal', 'snake': 'reptile', 'fly': 'insect'}

In [54]:
print(animal_classes)

{'fox': 'mammal', 'snake': 'reptile', 'fly': 'insect'}

In [56]:
dir(animal_classes)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [58]:
animal_classes.get("fox")

'mammal'

***Extra commands***

**Change list values**

In [59]:
a_list = [1,2,3]

In [60]:
a_list

[1, 2, 3]

In [61]:
a_list[1] = 4

In [62]:
a_list

[1, 4, 3]

**Change string values** 

Can't, really

In [63]:
a_string = 'abc'

In [64]:
a_string

'abc'

In [65]:
a_string[1] = 'z'

TypeError: 'str' object does not support item assignment

**Change tuple values**

Can't, really, again.

In [66]:
a_tuple = (1, 2, 3)

In [67]:
a_tuple

(1, 2, 3)

In [68]:
a_tuple[1] = 100

TypeError: 'tuple' object does not support item assignment